.skillCard {
  display: flex;
  align-items: center;
  border: 0px;
  gap: 80px;
  padding: 20px;
  background-color: transparent;
  width: 100%;
  font-size: 1rem;
}

.skillCard {
  background-repeat: no-repeat;
  background-position: right;
  background-size: 60%;
  box-shadow: 50px 0px 50px 0px inset rgb(58, 58, 58);
  color: rgb(255, 255, 255);
  transition: 300ms;
}

/* transition is not being applied to the box shadow for no reason at all*/

.skillCard:hover {
  background-color: rgb(255, 255, 255);
  transition: ease-in-out 300ms;
}

.skillcard > .leftContainer a {
  text-decoration: none;
}
