.contactLayout {
  height: 100vh;
  padding-block: 100px;
}

.contactWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 50px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1rem;
}

.formContainer p > a {
  margin-left: 5px;
  text-decoration: underline;
}

.formContainer > textarea {
  height: 30vh;
  border: 0px solid white;
  box-shadow: 0px 0px 5vw 1px inset white;
  background-color: transparent;
  outline: none;
  resize: none;
  font: inherit;
  padding: 10px;
  transition: 300ms;
}

.formContainer > textarea:hover {
  box-shadow: 0px 0px 0vw 1px inset white;
}

.senderDetails {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.senderDetails > input {
  background-color: transparent;
  border: 0px solid white;
  box-shadow: 0px 0px 2vw 1px inset white;
  outline: none;
  padding: 10px;
  width: 100%;
  transition: 300ms;
}

.senderDetails > input:hover {
  box-shadow: 0px 0px 0vw 1px inset white;
}

.buttonWrapper > button {
  padding: 7px 40px;
  border: 0px;
  background-color: transparent;
  box-shadow: 0px 0px 0vw 1px inset white;
  cursor: pointer;
  transition: 300ms;
  font-weight: 600;
}

.buttonWrapper > button.active {
  box-shadow: 0px 0px 2vw 1px inset white;
}

.imgContainer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.imgContainer a > img {
  width: 5vw;
  height: auto;
  filter: opacity(0.5);
  filter: blur(5px);
  transition: 300ms;
}

.imgContainer a > img:hover {
  filter: opacity(1);
  filter: blur(0px);
}

@media (max-width: 750px) {
  .contactWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
  }

  .buttonWrapper > button {
    width: 100%;
  }

  .imgContainer a > img {
    width: 50px;
    height: auto;
    filter: opacity(0);
    filter: blur(0px);
    transition: 300ms;
  }

  .imgContainer {
    width: 100%;
  }

  .imgContainer ul {
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    gap: 0;
  }
}
