.homePage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 1rem;
  gap: 100px;
}

.contactBtns {
  display: flex;
  gap: 10px;
}

.contactBtns a {
  padding: 10px 30px;
  box-shadow: inset 0px 0px 2vw 1px white;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  transition: 300ms;
  font-weight: 600;
}

.contactBtns a:hover {
  box-shadow: inset 0px 0px 0vw 1px white;
}

.rightContainer img {
  width: 25vw;
  height: auto;
  border: 2px solid white;
}

@media (max-width: 750px) {
  .homePage {
    flex-direction: column;
    gap: 20px;
  }

  .rightContainer img {
    width: clamp(15%, 100%, 100%); /* Adjusts between 15% and 100% */
    max-width: 100%; /* Ensures the image does not overflow the container */
    height: auto; /* Maintains aspect ratio */
  }
}
