:root {
  font-family: "Geist", sans-serif;
  line-height: 1.5;
  letter-spacing: 1px;
  font-size: 1rem;
  background-color: rgb(15, 15, 15);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  box-sizing: border-box;
}

@media (max-width: 1030px) {
  :root {
    font-size: 2vw;
  }
}

@media (min-width: 2000px) {
  :root {
    font-size: 1.5rem;
  }
}
