.noise {
  position: fixed;
  pointer-events: none;
  z-index: 99;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  background: transparent url(../assets/grain.png) repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.5s steps(10) infinite;
  opacity: 1;
  visibility: visible;
}

@keyframes bg-animation {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%);
  }
  70% {
    transform: translateY(10%);
  }
  80% {
    transform: translate(-15%);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%);
  }
}
